.header {
    padding: 60px; /*dejamos un padding de 60 px*/
    text-align: center; /*centramos todo el texto*/
    background: #1abc9c; /* ponemos un fondo verde*/
    color: white; /*Ponemos letra en blanco*/
}


/*Estilo de la barra de navegación/menús */
.navigation{
    display: flex; /*usamos flex*/
    background-color: #333; /*Ponemos un color casi negro*/
}

/*Estilo de los enlaces de la barra (los menús) */
.navigation a {
    color: white; /*Los enlaces los ponemos en blanco*/
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/*Cambiamos el color al pasar el ratón*/
.navigation a:hover {
    background-color: #ddd; /*Ponemos el color de fondo casi blanco */
    color: black; /* Ponemos el texto en negro*/
}

/* Contenedor de la columna principal */
.row{
    display: flex; /* Indicamos que es flexible */
}

/* Columna de la izquierda */
.sideleft {
    flex: 25%; /*ocupará un 25% */
    background-color: #f1f1f1;
    padding: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

